.User-page {
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 20px;
}

.posts-cards-list {
	margin: 0;
	padding: 0;
}

.user-posts-title {
	width: 100%;
	margin-left: 0;
	margin-bottom: 0;
	border-top: 1px solid #c5c5c5;
}