.card {
	background-color: #eff0f0;
	width: 48%;
	margin-top: 20px;
	cursor: pointer;
}
@media screen and (max-width: 1025px) {
	.card {
		margin-top: 20px;
		width: 100%;
	}
}
.card:hover {
	background-color: #bfc2c2;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.card-text {
	margin-left: 10px;
}

.card-title {
	font-size: 20px;
	font-weight: 700;
}
